<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeRange.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    </appSettings>
    <userSettings>
        <DeRange.Properties.Settings>
            <setting name="ActiveWindowSelectorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ActiveWindowSelectorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ActiveWindowSelectorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ArrangementEditState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ArrangementEditLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ArrangementEditSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DeRangeMainState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="DeRangeMainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DeRangeMainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationEditState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LocationEditLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LocationEditSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowEditState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowEditLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowEditSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocationSelectorState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowLocationSelectorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocationSelectorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionsEditState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="OptionsEditSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsEditLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </DeRange.Properties.Settings>
    </userSettings>
</configuration>
